
@{
    ViewData["Title"] = "Actualizar Tarea";
}

<div class="row text-center">
    <h1 class="display-4">Actualizar Tarea</h1>
</div>
<br />
<br />
<div class="container-fluid">
   
    <div class="row justify-content-center">
        <div class="col-2">
             <div class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="Tareas">Tareas |</a>
            </div>
        </div>
        <div class="col-8 ">
            <form id="ActualizarTareaForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-12">
                    
                        <label for="tarea" class="form-label">Tareas</label>
                        <select class="form-select" id="tarea" required>
                            <option value="">Cargando...</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecione una tarea valida.
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-5">
                        <button id="submit" class="w-50 btn btn-primary btn-lg" type="submit">Buscar Tarea</button>
                    </div>
                </div>

            </form>
            <br /><br />

        </div>

        
    
    <br /><br />
    <div class="row justify-content-center">
        <div class="col-12">
            <form id="actualizarForm" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-4">
                     <label for="Id" class="form-label">Id de la tarea</label>
                    <input type="text" class="form-control" id="Id" placeholder="" value="" disabled>
                    
                </div>
                <div class="col-4">
                    <label for="nombreTarea" class="form-label">Nombre de la tarea</label>
                    <input type="text" class="form-control" id="NombreTarea" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Nombre de la tarea es requerido.
                    </div>
                </div>
                <div class="col-4">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <textarea class="form-control" id="descripcion" rows="3" cols="12" placeholder="" value="" required></textarea>
                    <div class="invalid-feedback">
                        Descripcion es requerido.
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-6">
                    <label for="estadoTarea" class="form-label">Estado de la tarea</label><br />
                    <select class="form-select" id="estadoTarea" required>
                                <option value="Completado">Completado</option>
                                <option value="En progreso">En progreso</option>
                                <option value="Sin iniciar">Sin iniciar</option>
                    </select>
                    <div class="invalid-feedback">
                        Selecione un estado valido.
                    </div>
                </div>
                <div class="col-6">
                    <label for="personaEncargada" class="form-label">Persona encargada</label><br />
                    <select class="form-select" id="personaEncargada" required>
                        <option value="">Cargando...</option>
                    </select>
                    <div class="invalid-feedback">
                        Selecione una persona encargada valida.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="fechaAsignacion" class="form-label">Fecha de inicio</label><br />
                            <input type="datetime-local" class="form-control" id="fechaAsignacion" placeholder="" value=""><br /><br />
                </div>

                <div class="col-6">
                            <label for="FechaFinalizacion" class="form-label">Fecha de finalizacion</label><br />
                            <input type="datetime-local" class="form-control" id="FechaFinalizacion" placeholder="" value="" required><br /><br />
                </div>
            </div>

                <button id="submitAct" class="w-100 btn btn-primary btn-lg" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</div>

    @section Scripts{
        <script>

            PopulateTarea();
            PopulateUsuario();

            function PopulateTarea() {
            let url = '@Url.Action("GetTareasActualizar", "Forms")';

                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "json",
                    success: function (results) {
                        let select = $('#tarea');

                        console.log(results);
                        console.log(select);

                        select.empty();
                        $(results).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.Id)
                                .text('Tarea: ' + this.Nombre + ' Fecha de Asignación: '+this.FechaAsignacion)
                                .appendTo(select);
                        });
                    },
                    error: function () {
                        alert("Super Error!");
                    }
                });
            }

            function PopulateUsuario() {
                let url = '@Url.Action("GetUsuarios", "Forms")';

                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "json",
                    success: function (results) {
                        let select = $('#personaEncargada');

                        console.log(results);
                        console.log(select);

                        select.empty();
                        $(results).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.Id)
                                .text('Usuario: ' + this.UserName)
                                .appendTo(select);
                        });
                    },
                    error: function () {
                        alert("Super Error!");
                    }
                });
            }

            $("#ActualizarTareaForm").submit(function (event) {
            event.preventDefault();
                if ($('#ActualizarTareaForm')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                //do your ajax submition here
                recuperarTarea();
            }
                $('#ActualizarTareaForm').addClass('was-validated');
        });

        function recuperarTarea() {
            let url = '@Url.Action("GetTareaByCodigo","Forms")';
            let Id = {
                    Id: document.getElementById("tarea").value
            }
                console.log(Id)
            $.ajax({
                type: "GET",
                url: url,
                data: {
                        data: JSON.stringify(Id)
                },
                dataType: "json",
                success: function (per) {
                    console.log(per);
                    tarea = per;
                    console.log(per.length);
               
                    for (var i = 0; i < per.length; i++) {
                        $("#Id").val(per[i].Id);
                        $("#NombreTarea").val(per[i].Nombre);
                        $("#descripcion").val(per[i].Especificacion);
                        $("#estadoTarea").val(per[i].EstadoTarea);
                        $("#personaEncargada").val(per[i].PersonaEncargadaId);
                        $("#fechaAsignacion").val(per[i].FechaAsignacion);
                        $("#FechaFinalizacion").val(per[i].FechaFinalizacion);
                        
                    }
                }
            });
        }


        $("#actualizarForm").submit(function (event) {
        event.preventDefault();
            if ($('#actualizarForm')[0].checkValidity() === false) {
            event.stopPropagation();
        } else {
            actualizarTarea();
        }
            $('#actualizarForm').addClass('was-validated');
        });

        function actualizarTarea() {
              let url = '@Url.Action("PostActualizarTarea","Forms")';
              let tarea = {
                Id:document.getElementById("Id").value,
                Nombre: document.getElementById("NombreTarea").value,
                Especificacion: document.getElementById("descripcion").value,
                EstadoTarea: document.getElementById("estadoTarea").value,
                FechaAsignacion: document.getElementById("fechaAsignacion").value,
                FechaFinalizacion: document.getElementById("FechaFinalizacion").value,
                PersonaEncargadaId: document.getElementById("personaEncargada").value
            };
            console.log(tarea);
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    data: JSON.stringify(tarea)
                },
                dataType: "json",
                success: function (results) {
                    console.log(results);
                },
                error: function () {
                    alert("Super Error!");
                }
            });
        }
        </script>
    }
