@{
    ViewData["Title"] = "Forms Page";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Formularios</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de Prueba</h4>
            <form id="pruebaForm" class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Nombre es requerido.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Apellido es requerido.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="cedula" class="form-label">Cedula</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text"></span>
                            <input type="text" class="form-control" id="cedula" placeholder="X-XX-XXXX" required>
                            <div class="invalid-feedback">
                                Cedula is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label for="faculty" class="form-label">Facultad</label>
                        <select class="form-select" id="country" required>
                            <option value="">Choose...</option>
                            <option>Sistemas</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecione una facultad valida.
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <button id="submit" class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#pruebaForm").submit(function (event){
            console.log("SUBMIT");
            event.preventDefault();
            if($('#pruebaForm')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                //do your ajax submition here
                doSubmit();
            }
            $('#pruebaForm').addClass('was-validated');
        });

        function doSubmit() {
            let url = '@Url.Action("IndexSubmit", "Forms")';
            let pruebaForm = {
                firstName: document.getElementById("firstName").value,
                lastName: document.getElementById("lastName").value
            }

            console.log("ASDAS");

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    data: JSON.stringify(pruebaForm)
                },
                dataType: "json",
                success: function(results) {
                    console.log("2222");
                    if(results == null){
                        alert("Error");
                    }
                    else {
                        console.log(results);
                    }
                },
                error: function() {
                    alert("Super Error!");
                }
            });
        }
    </script>
}