@{
    ViewData["Title"] = "Forms Page Result";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Formularios - Respuesta</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de Prueba</h4>
            
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p>Nombre: @ViewBag.PruebaForms.FirstName</p>
                    </div>
                    <div class="col-4">
                        <p>Apellido: </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Cedula: </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
