@{
    ViewData["Title"] = "Prestamo Page";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Universidad Tecnológica de Panamá</h1>
        <h1 class="display-4">Facultad de Ingeniería de Sistemas Computacionales</h1>
        <h1 class="display-4">Coordinación de Laboratorios</h1>
        <h1 class="display-4">Control de Equipo Audiovisual</h1>
    </div>
    <div id="main" class="row justify-content-center">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de Préstamo de Equipo Audiovisual</h4>
            <form id="prestamoForm" class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Nombre es requerido.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="cedula" class="form-label">Cedula</label>
                        <input type="text" class="form-control" id="cedula" placeholder="X-XX-XXXX" value="" required>
                        <div class="invalid-feedback">
                            Apellido es requerido.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="duracion" class="form-label">Hora</label>
                        <input type="time" class="form-control" id="duracion" placeholder="HH:MM" >
                    </div>

                    <div class="col-sm-6">
                        <label for="date" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="date" placeholder="" value="" required>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea class="form-control" id="description" rows="2"></textarea>
                    </div>
                    
                </div>

                <hr class="my-4">

                <div class="row g-3">
                    <div class="col-md-5">
                        <label for="equipo" class="form-label">Equipos</label>
                        <select class="form-select" id="equipo" required>
                            <option value="">Cargando...</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecione un equipo válido.
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <button id="submit" class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <div id="second" class="row justify-content-center" hidden>
        <h4 class="mb-3">El préstamo se ha registrado correctamente</h4>
    </div>
</div>

@section Scripts {
    <script>
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes()
        document.getElementById('duracion').value = time

        PopulateEquipo();

        // Script para validar form
        $("#prestamoForm").submit(function (event){
            event.preventDefault();
            if($('#prestamoForm')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                //do your ajax submition here
                doSubmit();
            }
            $('#prestamoForm').addClass('was-validated');
        });

        function doSubmit() {
            let url = '@Url.Action("SubmitPrestamo", "Forms")';
            let prestamo = {
                NombrePersona: document.getElementById("name").value,
                CedulaPersona: document.getElementById("cedula").value,
                Duracion: document.getElementById("duracion").value,
                FechaInicio: document.getElementById("date").value,
                Descripcion: document.getElementById("description").value,
                EquipoId: document.getElementById("equipo").value
            }

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    data: JSON.stringify(prestamo)
                },
                dataType: "json",
                success: function(results) {
                    document.getElementById("main").hidden = true;
                    document.getElementById("second").hidden = false
                },
                error: function() {
                    alert("Super Error!");
                }
            });
        }

        function PopulateEquipo() {
            let url = '@Url.Action("GetEquipos", "Forms")';

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function(results) {
                    let select = $('#equipo');

                    console.log(results);
                    console.log(select);

                    select.empty();
                    $(results).each(function() {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.NombreEquipo)
                            .appendTo(select);
                    });
                },
                error: function() {
                    alert("Super Error!");
                }
            });
        }
    </script>
}