
@{
    ViewData["Title"] = "Crear Tarea";
}

<div class="row text-center">
    <h1 class="display-4">Crear Tarea</h1>
    <br /><br /><br />
</div>

<div class="container-fluid">
  <div id="main">
    <div class="col-2">
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="Tareas">Tareas |</a>
        </div>
    </div>
        
        <div class="col-12">
            <form id="CrearTareaForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-6">
                    <label for="NombreTarea" class="form-label">Nombre de la tarea</label>
                    <input type="text" class="form-control" id="NombreTarea" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Nombre de la tarea es requerido.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="Especificacion" class="form-label">Descripcion</label>
                    <textarea class="form-control" id="Especificacion" rows="3" cols="12" placeholder="" value="" required>

                        </textarea>
                       
                        <div class="invalid-feedback">
                            Descripcion es requerido.
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-6">
                        <label for="estadoTarea" class="form-label">Estado de la tarea</label><br />
                    <select class="form-select" id="estadoTarea" required>
                            <option value="Completado">Completado</option>
                            <option value="En progreso">En progreso</option>
                            <option value="Sin iniciar">Sin iniciar</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecione un estado valido.
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                <div class="col-6">
                    <label for="fechaAsignacion" class="form-label">Fecha de inicio</label><br />
                            <input type="datetime-local" class="form-control" id="fechaAsignacion" placeholder="" value=""><br /><br />
                </div>

                <div class="col-6">
                            <label for="FechaFinalizacion" class="form-label">Fecha de finalizacion</label><br />
                            <input type="datetime-local" class="form-control" id="FechaFinalizacion" placeholder="" value="" required><br /><br />
                </div>
            </div>

                
                <br /><br />
                <div class="row">
                    <div class="col-5">
                        <button id="submit" class="w-100 btn btn-primary btn-lg" type="submit">Crear Tarea</button>
                    </div>
                </div>

            </form>
        </div>
        </div>

    <div id="second" class="row justify-content-center" hidden>
        <h4 class="mb-3">La tarea se creó exitosamente</h4>
    </div>
</div>


@section Scripts {
    <script>
        
        $("#CrearTareaForm").submit(function (event) {
            event.preventDefault();
            if ($('#CrearTareaForm')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                //do your ajax submition here
                crearTarea();
            }
            $('#CrearTareaForm').addClass('was-validated');
        });
        
        function crearTarea(){
            let url = '@Url.Action("SubmitTarea","Forms")';
            let tarea = {
                Nombre: document.getElementById("NombreTarea").value,
                Especificacion: document.getElementById("Especificacion").value,
                EstadoTarea: document.getElementById("estadoTarea").value,
                FechaAsignacion: document.getElementById("fechaAsignacion").value,
                FechaFinalizacion: document.getElementById("FechaFinalizacion").value
            }
            console.log(tarea);

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    data: JSON.stringify(tarea)
                },
                dataType: "json",
                success: function(results) {
                    console.log(results);
                    document.getElementById("main").hidden = true;
                    document.getElementById("second").hidden = false
                },
                error: function() {
                    alert("Super Error!");
                }
            });
        }

        

        
    </script>
}

