@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Universidad Tecnológica de Panamá</h1>
        <h1 class="display-4">Facultad de Ingeniería de Sistemas Computacionales</h1>
        <h2 class="display-6">Coordinación de Laboratorios</h2>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Fecha de asignacion</th>
                    <th>Fecha de finalizacion</th>
                    <th>Estado de la Tarea</th>
                    <th>Persona encargada</th>
                </tr>
            </thead>
            <tbody class="table-info">
            </tbody>
        </table>
    </div>
    <div class="row"></div>
</div>

@section Scripts {
    <script>
        recuperarTareas();
        function recuperarTareas() {
            let url = '@Url.Action("GetTareas", "Forms")';

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (per) {
                    console.log(per);
                    console.log(per.length);

                    /*let xmlDoc = $.parseXML(per);
                    let xml = $(xmlDoc);
                    let equipos = xml.find("Table");*/
                    let rows = '';

                    for (var i = 0; i < per.length; i++) {
                        rows += "<tr><td>" + per[i].Nombre + "</td><td>" + per[i].Especificacion + "</td><td>" + per[i].FechaAsignacion + "</td><td>" + per[i].FechaFinalizacion + "</td><td>" + per[i].EstadoTarea + "</td><td>" + per[i].PersonaEncargadaId+"</td></tr>";
                        console.log(rows);
                    }
                    $('.table tbody').append(rows);

                    /*for (let i = 0; i < per.length; i++) {
                        let nombre = $("<tr><td></td></tr>");
                        let modelo = $("<tr><td></td></tr>");
                        let vida = $("<tr><td></td></tr>");
                        nombre.append(per[i].NombreEquipo);
                        modelo.append(per[i].Modelo);
                        $("tbody .table-info").append(nombre);
                        $("tbody .table-info").append(modelo);
                    }*/
                },
                error: function () {
                    alert("Super Error!");
                    conole.log("Super Error!");
                }
            });
        }
    </script>
}
