 
@{
    ViewData["Title"] = "Actualizar";
}

<div class="row text-center">
    <h1 class="display-4">Actualizar Equipo</h1>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="row" id="main">
        <div class="col-2">
            <div class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Inventario">Inventario |</a>
            </div>
        </div>

        <div class="col-8">
            <form id="equipoActualizarForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-4">
                        <label for="patrimonio" class="form-label">Codigo de Bienes Patrimoniales</label>
                        <input type="text" class="form-control" id="patrimonio" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Codigo es requerido.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <br /><br />
                        <button id="submit" class="w-100 btn btn-primary btn-lg" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-2"></div>
        <div />
    </div>
    </div>
    <br /><br />
    <div class="row justify-content-center" id="second" hidden>
        <div class="col-12">
            <form id="actualizarForm" class="needs-validation" novalidate>
                <label for="nombreEquipo" class="form-label">Nombre del Equipo</label><br />
                <input type="text" class="form-control" id="nombreEquipo" value="" /><br />

                <label for="modeloEquipo" class="form-label">Modelo</label><br />
                <input type="text" class="form-control" id="modeloEquipo" value="" /><br />

                <label for="vidaUtil" class="form-label">Vida Útil Estimada</label><br />
                <input type="text" class="form-control" id="vidaUtil" placeholder="" value="" /><br />

                <label for="descripcionEquipo" class="form-label">Descripción del Equipo</label><br />
                <textarea class="form-control" id="descripcionEquipo" rows="5" cols="50" value""></textarea><br /><br />

                <button id="submitAct" class="w-100 btn btn-primary btn-lg" type="submit">Actualizar</button>
            </form>
        </div>
    </div>

    <div id="third" class="row justify-content-center" hidden>
        <h4 class="mb-3">El equipo se actualizó exitosamente</h4>
    </div>

</div>

    @section Scripts{
        <script>
            let equipoGeneral;

            $("#equipoActualizarForm").submit(function (event) {
                event.preventDefault();
                if ($('#equipoActualizarForm')[0].checkValidity() === false) {
                    event.stopPropagation();
                } else {
                    //do your ajax submition here
                    recuperarEquipo();
                }
                $('#equipoActualizarForm').addClass('was-validated');
            });

            function recuperarEquipo() {
                let url = '@Url.Action("GetEquipoByCodigo","Equipo")';
                let equipo = {
                    CodigoBienesPatrimoniales: document.getElementById("patrimonio").value
                }
                console.log(equipo)
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                        data: JSON.stringify(equipo)
                    },
                    dataType: "json",
                    success: function (per) {
                        console.log(per);
                        equipoGeneral = per;
                        console.log(per.length);
                       
                        for (var i = 0; i < per.length; i++) {
                            $("#nombreEquipo").val(per[i].NombreEquipo);
                            $("#modeloEquipo").val(per[i].Modelo);
                            $("#vidaUtil").val(per[i].VidaUtilEstimada);
                            $("#descripcionEquipo").val(per[i].Descripcion);
                            
                        }

                        
                        document.getElementById("main").hidden = true;
                        document.getElementById("second").hidden = false;
                        document.getElementById("third").hidden = true
                    }
                });
            }


        $("#actualizarForm").submit(function (event) {
            event.preventDefault();
            if ($('#actualizarForm')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                actualizarEquipo();
            }
            $('#actualizarForm').addClass('was-validated');
        });

        function actualizarEquipo() {
            let url = '@Url.Action("PostActualizarEquipo","Equipo")';
            let equipo = {
                Id: equipoGeneral[0].Id,
                CodigoBienesPatrimoniales: equipoGeneral[0].CodigoBienesPatrimoniales,
                Identificador: equipoGeneral[0].Identificador,
                NombreEquipo: document.getElementById("nombreEquipo").value,
                Modelo: document.getElementById("modeloEquipo").value,
                VidaUtilEstimada: document.getElementById("vidaUtil").value,
                FechaCompra: equipoGeneral[0].FechaCompra,
                FechaRegistro: equipoGeneral[0].FechaRegistro,
                Descripcion: document.getElementById("descripcionEquipo").value,
                LaboratorioId: equipoGeneral[0].LaboratorioId,
                Activo: equipoGeneral[0].Activo
            }
            console.log(equipo);
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    data: JSON.stringify(equipo)
                },
                dataType: "json",
                success: function (results) {
                    console.log(results);
                    document.getElementById("main").hidden = true;
                        document.getElementById("second").hidden = true;
                        document.getElementById("third").hidden = false
                },
                error: function () {
                    alert("Super Error!");
                }
            });
        }
        </script>
    }
