@{
    ViewData["Title"] = "Inventario Page";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Inventario</h1>
    </div>
    <div class="row justify-content-center">
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="col-4"></div>
            <div class="col-5">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Registrar">Registrar Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Consultar">Consultar Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Actualizar">Actualizar Equipo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody class="table-info">

            </tbody>
        </table>
    </div>
    <div class="row">
    </div>
</div>

@section Scripts{
    <script>
        recuperarEquipos();

        function recuperarEquipos() {
            let url = '@Url.Action("GetEquiposInventario", "Equipo")';

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (per) {
                    console.log(per);
                    console.log(per.length);
                    /*for (var i = 0; i < per.length; i++) {
                        var nombre = $("<tr><td></td></tr>");
                        var modelo = $("<tr><td></td></tr>");
                        var vida = $("<tr><td></td></tr>");
                        nombre.append(per[i].NombreEquipo);
                        modelo.append(per[i].Modelo);
                        $("tbody .table-info").append(nombre);
                        $("tbody .table-info").append(modelo);
                    }*/
                }
                error: function () {
                    alert("Super Error!");
                    conole.log("Super Error!");
                }
            });
        }
    </script>
}