@{
    ViewData["Title"] = "Inventario Page";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Inventario</h1>
    </div>
    <div class="row justify-content-center">
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Registrar">Registrar Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Consultar">Consultar Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Actualizar">Actualizar Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Eliminar">Eliminar Equipo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="row">
    </div>
</div>

@section Scripts{
    <script>
        recuperarEquipos();

        function recuperarEquipos() {
            let url = '@Url.Action("GetEquiposInventario", "Equipo")';

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (per) {
                    for (var i = 0; i < per.results.length; i++) {
                        var nombre = $("<div class='col-4'></div>");
                        var modelo = $("<div class='col-4'></div>");
                        var vida = $("<div class='col-4'></div>");
                        nombre.append(per.results[i].NombreEquipo);
                        modelo.append(per.results[i].Modelo);
                        $("div .row").append(nombre);
                        $("div .row").append(modelo);
                    }
                }
                error: function () {
                    alert("Super Error!");
                }
            });
        }
    </script>
}