
@{
    ViewData["Title"] = "Registrar Equipo";
}

<div class="row text-center">
    <h1 class="display-4">Registrar Equipo</h1>
    <br /><br /><br />
</div>

<div class="container-fluid">
    <div id="main" class="row">
        <div class="col-2">
            <div class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Equipo" asp-action="Inventario">Inventario |</a>
            </div>
        </div>
        
        <div class="col-8">
            <form id="equipoRegistrarForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-4">
                        <label for="patrimonio" class="form-label">Codigo de Bienes Patrimoniales</label>
                        <input type="text" class="form-control" id="patrimonio" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Codigo es requerido.
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="identificador" class="form-label">Identificador</label>
                        <input type="text" class="form-control" id="identificador" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Identificador es requerido.
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-12">
                        <label for="nombreEquipo" class="form-label">Nombre del Equipo</label><br />
                        <input type="text" class="form-control" id="nombreEquipo" required /><br /><br />

                        <label for="descripcionEquipo" class="form-label">Descripción del Equipo</label><br />
                        <textarea class="form-control" id="descripcionEquipo" rows="5" cols="50" required>Descripcion del Equipo</textarea><br /><br />

                        <label for="modeloEquipo" class="form-label">Modelo</label><br />
                        <input type="text" class="form-control" id="modeloEquipo" required /><br /><br />

                        <label for="vidaUtil" class="form-label">Vida Útil Estimada</label><br />
                        <input type="text" class="form-control" id="vidaUtil" placeholder="" value="" required><br /><br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="fechaCompra" class="form-label">Fecha de Compra</label><br />
                        <input type="date" class="form-control" id="fechaCompra" placeholder="" value="" required><br /><br />
                    </div>

                    <div class="col-6">
                        <label for="fehcaRegistro" class="form-label">Fecha de Registro</label><br />
                        <input type="date" class="form-control" id="fechaRegistro" placeholder="" value="" required><br /><br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="laboratorio" class="form-label">Laboratorio</label>
                        <select class="form-select" id="laboratorio" required>
                            <option value="">Cargando...</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecione un laboratorio válido.
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-5">
                        <button id="submit" class="w-100 btn btn-primary btn-lg" type="submit">Registrar</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-2"></div>
    </div>

    <div id="second" class="row justify-content-center" hidden>
        <h4 class="mb-3">El equipo se ha registrado correctamente</h4>
    </div>
</div>

@section Scripts {
    <script>
        rellenarLaboratorios();
        $("#equipoRegistrarForm").submit(function (event) {
            event.preventDefault();
            if ($('#equipoRegistrarForm')[0].checkValidity() === false) {
                event.stopPropagation();
            } else {
                //do your ajax submition here
                registrarEquipo();
            }
            $('#equipoRegistrarForm').addClass('was-validated');
        });
        
        function registrarEquipo(){
            let url = '@Url.Action("PostRegistrarEquipo","Equipo")';
            let equipo = {
                CodigoBienesPatrimoniales: document.getElementById("patrimonio").value,
                Identificador: document.getElementById("identificador").value,
                NombreEquipo: document.getElementById("nombreEquipo").value,
                Modelo: document.getElementById("modeloEquipo").value,
                VidaUtilEstimada: document.getElementById("vidaUtil").value,
                FechaCompra: document.getElementById("fechaCompra").value,
                FechaRegistro: document.getElementById("fechaRegistro").value,
                Descripcion: document.getElementById("descripcionEquipo").value,
                LaboratorioId: parseInt(document.getElementById("laboratorio").value),
                Activo: 1
            }
            console.log(equipo);
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    data: JSON.stringify(equipo)
                },
                dataType: "json",
                success: function(results) {
                    console.log(results);
                    document.getElementById("main").hidden = true;
                    document.getElementById("second").hidden = false
                },
                error: function() {
                    alert("Super Error!");
                }
            });
        }

        function rellenarLaboratorios() {
            let url = '@Url.Action("GetLaboratorios", "Equipo")';

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (results) {
                    let select = $('#laboratorio');

                    console.log(results);
                    console.log(select);

                    select.empty();
                    $(results).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Codigo)
                            .appendTo(select);
                    });
                },
                error: function () {
                    alert("Super Error!");
                }
            });
        }
        
    </script>
}

