@{
    ViewData["Title"] = "Administrador";
}

<div class="container">
    <div class="row text-center">
        <h1 class="display-4">Universidad Tecnológica de Panamá</h1>
        <h1 class="display-4">Facultad de Ingeniería de Sistemas Computacionales</h1>
        <h2 class="display-6">Coordinación de Laboratorios</h2>
        <h3 class="display-7">Control de Entrada de Salones de Préstamo</h3>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Facultad</th>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Salón</th>
                    <th>Hora de Entrada</th>
                    <th>Operador Entrega</th>
                    <th></th>
                    <th>Hora de Salida</th>
                    <th>Operador Recibe</th>
                </tr>
            </thead>
            <tbody class="table-info">
            </tbody>
        </table>
    </div>
    <div class="row"></div>
</div>

@section Scripts {
    <script>
        recuperarReservas();
        function recuperarReservas() {
            let url = '@Url.Action("GetReservas", "Forms")';

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (per) {
                    console.log(per);
                    console.log(per.length);

                
                    let rows = '';

                    for (var i = 0; i < per.length; i++) {
                        rows += "<tr><td>" + per[i].FechaInicio + "</td><td>" + per[i].Descripcion + "</td><td>" + per[i].NombrePersona + "</td><td>" + per[i].CedulaPersona + "</td><td>" + per[i].Codigo + "</td><td>" + per[i].Duracion + "</td><td>" + per[i].UserName  + "<td><td>" + per[i].FechaDevolucion + "<td>" + per[i].Email;
                        console.log(rows);
                    }
                    $('.table tbody').append(rows);

                   
                },
                error: function () {
                    alert("Super Error!");
                    conole.log("Super Error!");
                }
            });
        }
    </script>
}
